CalcProject/CalcProxy.wsdl

<wsdl:definitions name="CalcProxy" targetNamespace="http://xmlns.oracle.com/caluculatorApplication/CalcProject/CalcProxy" xmlns:tns="http://xmlns.oracle.com/caluculatorApplication/CalcProject/CalcProxy" xmlns:inp1="http://www.example.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.example.org" schemaLocation="calc.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="input" element="inp1:AdditionRequest"/>
        <wsdl:part name="input1" element="inp1:SubtractionRequest"/>
        <wsdl:part name="input2" element="inp1:MultiplyRequest"/>
        <wsdl:part name="input3" element="inp1:DivisionRequest"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="output" element="inp1:AdditionResponse"/>
        <wsdl:part name="output1" element="inp1:SubtractionResponse"/>
        <wsdl:part name="output2" element="inp1:MultiplyResponse"/>
        <wsdl:part name="output3" element="inp1:DivisionResponse"/>
    </wsdl:message>
    <wsdl:message name="Opp1Message">
        <wsdl:part name="input" element="inp1:AdditionRequest"/>
        <wsdl:part name="input1" element="inp1:SubtractionRequest"/>
        <wsdl:part name="input2" element="inp1:MultiplyRequest"/>
        <wsdl:part name="input3" element="inp1:DivisionRequest"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="Enter">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Opp1">
            <wsdl:input message="tns:Opp1Message"/>
           
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Enter">
            <soap:operation style="document" soapAction="Enter"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/caluculatorApplication/CalcProject/CalcProxy" parts="input1"/>
                <soap:header message="tns:requestMessage" part="input" use="literal"/>
                <soap:header message="tns:requestMessage" part="input3" use="literal"/>
                <soap:header message="tns:requestMessage" part="input2" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/caluculatorApplication/CalcProject/CalcProxy" parts="output2"/>
                <soap:header message="tns:replyMessage" part="output" use="literal"/>
                <soap:header message="tns:replyMessage" part="output3" use="literal"/>
                <soap:header message="tns:replyMessage" part="output1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Opp1">
            <soap:operation style="document" soapAction="Enter"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/caluculatorApplication/CalcProject/CalcProxy" parts="input1"/>
                <soap:header message="tns:Opp1Message" part="input" use="literal"/>
              
            </wsdl:input>
            
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>